.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    color: white;
    border-radius: 5px;
    border: 1px solid var(--accentColor);
    position: relative;
    width: 150px;
    transform: skewX(-5deg);
    -webkit-box-shadow: 0 0 7px -2px #000000;
    box-shadow: 0 0 7px -2px #000000;
    cursor: pointer;
}
.user:not(:last-child){
    margin-right: 15px;
}
.user.new{
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: var(--accentColor);
    height: 125px;
}
.user .icon img{
    width: 64px;
    height: 64px;
}
.user .icon{
    padding: 5px;
}
.user .info{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user .info .username{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user .info button{
    background-color: var(--accentColor);
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    border: navajowhite;
    width: 80px;
}
.user .info button:hover {
    background-color: rgba(128, 128, 128, 0.18);
}
.user .edit{
    display: flex;
    position: absolute;
    top: -25px;
    right: -10px;
    justify-content: center;
    align-items: center;
    color: var(--accentColor);
    background-color: #282c34;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid var(--accentColor);
    -webkit-box-shadow: 0 0 7px -2px #000000;
    box-shadow: 0 0 7px -2px #000000;
}