.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    color: white;
    border-radius: 5px;
    border: 1px solid var(--accentColor);
    position: relative;
    width: 150px;
    transform: skewX(-5deg)
}
.user:not(:last-child){
    margin-right: 15px;
}
.user.new{
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: var(--accentColor);
}

.user .edit{
    display: none;
}
.user .icon img{
    width: 64px;
    height: 64px;
}
.user .icon{
    padding: 5px;
}
.user .info{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user .info button{
    background-color: var(--accentColor);
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    border: navajowhite;
    width: 80px;
}
.user .info button:hover{
    background-color: rgba(128, 128, 128, 0.18);
}
.user .edit{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid var(--accentColor);
}
.user:hover .edit{
    display: flex;
    position: absolute;
    top: -10px;
    right: -10px;
    justify-content: center;
    align-items: center;
    color: var(--accentColor);
    background-color: #282c34;
    cursor: pointer;
}