.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    color: white;
    border-radius: 5px;
    border: 1px solid var(--accentColor);
    position: relative;
    width: 150px;
    transform: skewX(-5deg)
}
.user:not(:last-child){
    margin-right: 15px;
}
.user.new{
    justify-content: center;
    margin-left: 15px;
    background-color: transparent;
    font-size: 20px;
    height: 160px;
    cursor: pointer;
    color: var(--accentColor);
    align-items: center;
}

.user .edit{
    display: none;
}
.user .icon img{
    width: 64px;
    height: 64px;
}
.user .icon{
    padding: 5px;
}
.user .info{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.user .edit{
    width: 32px;
    height: 32px;
    border: 1px solid var(--accentColor);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}
.user:hover .edit{
    display: flex;
    position: absolute;
    top: -25px;
    right: -10px;
    justify-content: center;
    align-items: center;
    color: var(--accentColor);
    background-color: #282c34;
    cursor: pointer;
}