.user_status{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    border: 1px solid var(--accentColor);
    border-radius: 4px;
    padding: 10px 15px;
    align-items: center;
    background-color: transparent;
    margin-top: 0;
    width: unset;
}
.user_status img{
    width: 32px;
    margin-left: 15px;
}
.user_dashboard{
    color: white;
}