@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html, *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}
body, html{
    padding: 0;
    margin:0;
}
:root{
    --accentColor: #ff1e56;
}